<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Section.dao.PubRoadSetionMapper" >
  <resultMap id="BaseResultMap" type="com.Section.model.PubRoadSetion" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="START_LONGTUDE" property="startLongtude" jdbcType="VARCHAR" />
    <result column="START_LATITUDE" property="startLatitude" jdbcType="VARCHAR" />
    <result column="END_LONGTUDE" property="endLongtude" jdbcType="VARCHAR" />
    <result column="END_LATITUDE" property="endLatitude" jdbcType="VARCHAR" />
    <result column="MILES" property="miles" jdbcType="DOUBLE" />
    <result column="SETION_TYPE" property="setionType" jdbcType="VARCHAR" />
    <result column="sect_avg_speed" property="sect_avg_speed" jdbcType="INTEGER" />
    <result column="is_asphalt_road" property="is_asphalt_road" jdbcType="INTEGER" />
    <result column="ROAD_NUM" property="road_num" jdbcType="INTEGER" />
    <result column="road_sect_limit" property="road_sect_limit" jdbcType="INTEGER" />
    <result column="stand_axle_load" property="stand_axle_load" jdbcType="INTEGER" />
    <result column="ROADRAILWAY_ID" property="roadRailway_id" jdbcType="VARCHAR" />
  	<result column="line_points" property="line_points" jdbcType="VARCHAR" />
  	<result column="own_area" property="own_area" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, START_LONGTUDE, START_LATITUDE, END_LONGTUDE, END_LATITUDE, MILES,SETION_TYPE,sect_avg_speed,is_asphalt_road,ROAD_NUM,road_sect_limit,stand_axle_load,ROADRAILWAY_ID,line_points,own_area
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pub_road_setion
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select  id="getRoutAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  select 
   <include refid="Base_Column_List" />
   from pub_road_setion
  <!-- where line_points is null -->
  </select>
  
  <select  id="getRoutAllWithoutPoints" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  select 
   ID, START_LONGTUDE, START_LATITUDE, END_LONGTUDE, END_LATITUDE, MILES
   from pub_road_setion limit 5000
  <!-- where line_points is null -->
  </select>
  
  <select  id="getRoutAllEmptyPoints" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  select 
   <include refid="Base_Column_List" />
   from pub_road_setion
  where line_points = ""
  </select>
  
  <select  id="getroutMated" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  select 
   ID,line_points
   from pub_road_setion
  where ROADRAILWAY_ID > 0;
  </select>
  
  <select id="getAllLinePoint" resultMap="BaseResultMap">
  	select ID,line_points from pub_road_setion
  </select>
  
   <select id="selectPubRoadSetionBySize" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select 
    	ID
    from pub_road_setion
    order by id desc limit #{size,jdbcType=INTEGER}
  </select>
  
  <select id="getSingleLinePoint" resultType="com.Section.model.PubRoadSetion" parameterType="com.Section.model.PubRoadSetion" >
   	select ID,line_points 
   	from pub_road_setion
   	where ID = #{id,jdbcType=INTEGER}
   </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pub_road_setion
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.Section.model.PubRoadSetion" >
    insert into pub_road_setion ( 
    ID
    , START_LONGTUDE
    , START_LATITUDE
    , END_LONGTUDE
    , END_LATITUDE
    , MILES
    ,SETION_TYPE
    ,sect_avg_speed
    ,is_asphalt_road
    ,ROAD_NUM
    ,road_sect_limit
    ,stand_axle_load
    ,ROADRAILWAY_ID
    ,line_points )
    values (
    #{id,jdbcType=INTEGER}
    , #{startLongtude,jdbcType=VARCHAR}
    , #{startLatitude,jdbcType=VARCHAR}
    , #{endLongtude,jdbcType=VARCHAR}
      , #{endLatitude,jdbcType=VARCHAR}
      , #{miles,jdbcType=DOUBLE}
      , #{setionType,jdbcType=VARCHAR}
      , #{sect_avg_speed,jdbcType=INTEGER}
      , #{is_asphalt_road,jdbcType=INTEGER}
      , #{road_num,jdbcType=INTEGER}
      , #{road_sect_limit,jdbcType=INTEGER}
      , #{stand_axle_load,jdbcType=INTEGER}
       , #{roadRailway_id,jdbcType=VARCHAR}
       , #{line_points,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.Section.model.PubRoadSetion" >
    insert into pub_road_setion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="startLongtude != null" >
        START_LONGTUDE,
      </if>
      <if test="startLatitude != null" >
        START_LATITUDE,
      </if>
      <if test="endLongtude != null" >
        END_LONGTUDE,
      </if>
      <if test="endLatitude != null" >
        END_LATITUDE,
      </if>
      <if test="miles != null" >
        MILES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startLongtude != null" >
        #{startLongtude,jdbcType=VARCHAR},
      </if>
      <if test="startLatitude != null" >
        #{startLatitude,jdbcType=VARCHAR},
      </if>
      <if test="endLongtude != null" >
        #{endLongtude,jdbcType=VARCHAR},
      </if>
      <if test="endLatitude != null" >
        #{endLatitude,jdbcType=VARCHAR},
      </if>
      <if test="miles != null" >
        #{miles,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.Section.model.PubRoadSetion" >
    update pub_road_setion
    <set >
      <if test="startLongtude != null" >
        START_LONGTUDE = #{startLongtude,jdbcType=VARCHAR},
      </if>
      <if test="startLatitude != null" >
        START_LATITUDE = #{startLatitude,jdbcType=VARCHAR},
      </if>
      <if test="endLongtude != null" >
        END_LONGTUDE = #{endLongtude,jdbcType=VARCHAR},
      </if>
      <if test="endLatitude != null" >
        END_LATITUDE = #{endLatitude,jdbcType=VARCHAR},
      </if>
      <if test="miles != null" >
        MILES = #{miles,jdbcType=DOUBLE},
      </if>
      <if test="own_area != null" >
        own_area = #{own_area,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.Section.model.PubRoadSetion" >
    update pub_road_setion
    set START_LONGTUDE = #{startLongtude,jdbcType=VARCHAR},
      START_LATITUDE = #{startLatitude,jdbcType=VARCHAR},
      END_LONGTUDE = #{endLongtude,jdbcType=VARCHAR},
      END_LATITUDE = #{endLatitude,jdbcType=VARCHAR},
      MILES = #{miles,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateRailwayID" parameterType="com.Section.model.PubRoadSetion" >
    update pub_road_setion
    set ROADRAILWAY_ID = #{roadRailway_id,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
    </update>
    
     <update id="updateSection" parameterType="com.Section.model.PubRoadSetion" >
	    update pub_road_setion
	    set SETION_TYPE =#{setionType,jdbcType=VARCHAR}
	      , sect_avg_speed =#{sect_avg_speed,jdbcType=INTEGER}
	      , is_asphalt_road =#{is_asphalt_road,jdbcType=INTEGER}
	      , ROAD_NUM =#{road_num,jdbcType=INTEGER}
	      , road_sect_limit =#{road_sect_limit,jdbcType=INTEGER}
	      , stand_axle_load =#{stand_axle_load,jdbcType=INTEGER}
	    where ID = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateLinePoint" parameterType="com.Section.model.PubRoadSetion" >
    update pub_road_setion
    <set >
      <if test="miles != null" >
        MILES = #{miles,jdbcType=DOUBLE},
      </if>
      <if test="line_points != null" >
        line_points = #{line_points,jdbcType=VARCHAR},
      </if>
      <if test="startLongtude != null" >
        START_LONGTUDE = #{startLongtude,jdbcType=VARCHAR},
      </if>
      <if test="startLatitude != null" >
        START_LATITUDE = #{startLatitude,jdbcType=VARCHAR},
      </if>
      <if test="endLongtude != null" >
        END_LONGTUDE = #{endLongtude,jdbcType=VARCHAR},
      </if>
      <if test="endLatitude != null" >
        END_LATITUDE = #{endLatitude,jdbcType=VARCHAR},
      </if>
      <if test="own_area != null" >
        own_area = #{own_area,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
    </update>
    
    <update id="updateOwnArea" parameterType="com.Section.model.PubRoadSetion" >
    update pub_road_setion
    set own_area = #{own_area,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
    </update>
    
</mapper>