<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Section.dao.RoadRailwayDao">
	<resultMap id="BaseResultMap" type="com.Section.model.RoadRailway">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="RAILWAY_NAME" property="railwayName" jdbcType="VARCHAR" />
		<result column="LAST_RAILWAY" property="lastRailway" jdbcType="VARCHAR" />
		<result column="NEXT_RAILWAY" property="nextRailway" jdbcType="VARCHAR" />
		<result column="START_LOCATION" property="startLocation"
			jdbcType="VARCHAR" />
		<result column="END_LOCATION" property="endLocation" jdbcType="VARCHAR" />
		<result column="MILES" property="miles" jdbcType="VARCHAR" />
		<result column="URL" property="url" jdbcType="VARCHAR" />
		<result column="DESCRIRIBE" property="descriribe" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="CHAR" />
		<result column="LAST_UPDATE_DATE" property="lastUpdateDate"
			jdbcType="DATE" />
		<result column="UPDATE_TYPE" property="updateType" jdbcType="CHAR" />
		<result column="line_point" property="line_point" jdbcType="VARCHAR" />
		<result column="line_point_back" property="line_point_back"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, RAILWAY_NAME, LAST_RAILWAY, NEXT_RAILWAY, URL,START_LOCATION,
		END_LOCATION, MILES,DESCRIRIBE, STATUS, LAST_UPDATE_DATE,
		UPDATE_TYPE,line_point,line_point_back
	</sql>

	<select id="getRoadRailwayByRoadId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pub_road_railway
		<if test="roadId == ''">
			where ID = #{roadId,jdbcType=VARCHAR}
		</if>
		<if test="roadId != null and roadId != ''">
			where ID like '${roadId}%'
		</if>
	</select>
	<select id="getRoadRailwayByName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pub_road_railway
		<if test="_parameter != null and _parameter != ''">
			where RAILWAY_NAME = #{_parameter,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="getRoadRailwayPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pub_road_railway
		<if test="roadId != null and roadId != ''">
			where ID like '${roadId}%'
		</if>
	</select>

	<select id="getRoadRailway" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pub_road_railway
	</select>

	<select id="getAllRoadRailwayLinePoint" resultMap="BaseResultMap">
		select
		ID,line_point
		from pub_road_railway
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from pub_road_railway
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from pub_road_railway
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.Section.model.RoadRailway">
		insert into pub_road_railway (ID, RAILWAY_NAME, LAST_RAILWAY,
		NEXT_RAILWAY, URL, DESCRIRIBE,
		STATUS, LAST_UPDATE_DATE, UPDATE_TYPE
		)
		values (#{id,jdbcType=VARCHAR}, #{railwayName,jdbcType=VARCHAR},
		#{lastRailway,jdbcType=VARCHAR},
		#{nextRailway,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{descriribe,jdbcType=VARCHAR},
		#{status,jdbcType=CHAR}, #{lastUpdateDate,jdbcType=DATE},
		#{updateType,jdbcType=CHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.Section.model.RoadRailway">
		insert into pub_road_railway
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="railwayName != null">
				RAILWAY_NAME,
			</if>
			<if test="lastRailway != null">
				LAST_RAILWAY,
			</if>
			<if test="nextRailway != null">
				NEXT_RAILWAY,
			</if>
			<if test="url != null">
				URL,
			</if>
			<if test="descriribe != null">
				DESCRIRIBE,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE,
			</if>
			<if test="updateType != null">
				UPDATE_TYPE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="railwayName != null">
				#{railwayName,jdbcType=VARCHAR},
			</if>
			<if test="lastRailway != null">
				#{lastRailway,jdbcType=VARCHAR},
			</if>
			<if test="nextRailway != null">
				#{nextRailway,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="descriribe != null">
				#{descriribe,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate,jdbcType=DATE},
			</if>
			<if test="updateType != null">
				#{updateType,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.Section.model.RoadRailway">
		update pub_road_railway
		<set>
			<if test="railwayName != null">
				RAILWAY_NAME = #{railwayName,jdbcType=VARCHAR},
			</if>
			<if test="lastRailway != null">
				LAST_RAILWAY = #{lastRailway,jdbcType=VARCHAR},
			</if>
			<if test="nextRailway != null">
				NEXT_RAILWAY = #{nextRailway,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				URL = #{url,jdbcType=VARCHAR},
			</if>
			<if test="descriribe != null">
				DESCRIRIBE = #{descriribe,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=CHAR},
			</if>
			<if test="lastUpdateDate != null">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
			</if>
			<if test="updateType != null">
				UPDATE_TYPE = #{updateType,jdbcType=CHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.Section.model.RoadRailway">
		update pub_road_railway
		set RAILWAY_NAME = #{railwayName,jdbcType=VARCHAR},
		LAST_RAILWAY = #{lastRailway,jdbcType=VARCHAR},
		NEXT_RAILWAY = #{nextRailway,jdbcType=VARCHAR},
		URL = #{url,jdbcType=VARCHAR},
		DESCRIRIBE = #{descriribe,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=CHAR},
		LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE},
		UPDATE_TYPE = #{updateType,jdbcType=CHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateLinePointRailway" parameterType="com.Section.model.RoadRailway">
		update pub_road_railway
		set line_point = #{line_point,jdbcType=CHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateLinePointRailwayBack" parameterType="com.Section.model.RoadRailway">
		update pub_road_railway
		set line_point_back = #{line_point_back,jdbcType=CHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

</mapper>