<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Section.dao.walkerMapper" >
  <resultMap id="BaseResultMap" type="com.Section.model.walker" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="walker_name" property="walkerName" jdbcType="VARCHAR" />
    <result column="walker_points" property="walkerPoints" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.Section.model.walker" extends="BaseResultMap" >
    <result column="walker_points" property="walkerPoints" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, walker_name
  </sql>
  <sql id="Blob_Column_List" >
    walker_points
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pub_walker
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectWalkerTailAll" resultMap="BaseResultMap">
  	select * from pub_walker
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pub_walker
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.Section.model.walker" >
    insert into pub_walker (id, walker_name, walker_points
      )
    values (#{id,jdbcType=INTEGER}, #{walkerName,jdbcType=VARCHAR}, #{walkerPoints,jdbcType=LONGVARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="com.Section.model.walker" >
    insert into pub_walker
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="walkerName != null" >
        walker_name,
      </if>
      <if test="walkerPoints != null" >
        walker_points,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="walkerName != null" >
        #{walkerName,jdbcType=VARCHAR},
      </if>
      <if test="walkerPoints != null" >
        #{walkerPoints,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.Section.model.walker" >
    update pub_walker
    <set >
      <if test="walkerName != null" >
        walker_name = #{walkerName,jdbcType=VARCHAR},
      </if>
      <if test="walkerPoints != null" >
        walker_points = #{walkerPoints,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.Section.model.walker" >
    update pub_walker
    set walker_name = #{walkerName,jdbcType=VARCHAR},
      walker_points = #{walkerPoints,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.Section.model.walker" >
    update pub_walker
    set walker_name = #{walkerName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>